<p> <center>welcome to RubySoftware performance form </center></p>

<%= link_to "Login",new_user_session_path%>
<%= link_to "Register",new_user_registration_path%>
<%= link_to "ForgotYourPassword",new_user_password_path%>